@{
    ViewData["Title"] = "Create Product";
}

<form>
<div class="mb-3">
<label for="exampleInputEmail" class="form-label">Name</label>
<input type="number" class="form-control">
</div>
<div class="mb-3">
<label for="exampleInputEmail" class="form-label">Price</label>
<input type="number" class="form-control">
</div>
</form>